/Domain/UserService.Domain.Core/bin
/Domain/UserService.Domain.Core/obj

/Domain/UserService.Domain.Interfaces/bin
/Domain/UserService.Domain.Interfaces/obj

/Application/UserService.Application.Services/bin
/Application/UserService.Application.Services/obj

/Infrastructure/UserService.Infrastructure.Data/bin
/Infrastructure/UserService.Infrastructure.Data/obj

UserService.API/bin
UserService.API/obj
UserService.API/Properties