body {
  background-color: #0D0C0F;
  color: #F1F1F3;
  margin: 0;
  font-family: 'manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: #BFBFBF;
}

a:hover{
  color: #F1F1F3;
}