.header{
    height: 50px;
    font-weight: 500;
    width: 100%;
    position: fixed;
    color: #F1F1F3;
    padding-top: 15px;
}

.header_inner{
    align-items: center;
    margin: auto;
    max-width: 1440px;
    display:flex;
    justify-content: space-between;
}

.header button{
    border: none;
    color: none;
}

.header svg{
    color: aqua;
}